
.container
	width 100%
	margin 0
	padding 10
	
	.submit
		margin-top 20px

	.code
		.editor
			background-color black

	.choose
		.button
			text-align left
			margin 0 0 10 0

	.select
		display block

		hr
			margin 10 0 10 0

		h2
			font-size 15px
			margin 0 0 10 0