
body, html
	margin 0px
	padding 0px
	background-color #000000

.container
	width 100%
	margin 0
	padding 10
	color #ffffff !important

	&.enabled
		border 0px solid green
	
	&.disabled
		border 0px solid red
	
	.submit
		margin-top 20px

	.code
		.editor
			background-color black

	.choose
		.button
			text-align left
			margin 0 0 10 0

	.select
		display block

		>div
			padding 10px
			label
				color white !important

		hr
			margin 10 0 10 0

		h2
			font-size 15px
			margin 0 0 10 0